@import 'base';
@import 'mixins';

body {
  background-color: $light;
  color: $font;
}
a {
  color: inherit;
}
hr {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}
.fw-header {
  border-bottom: 1px solid darken($light, 10%);
  padding: 20px;
  h3 {
    margin-top: 0;
  }
  h5 {
    margin-bottom: 0;
  }
  nav {
    margin: 7px 0;
    text-align: right;
    button {
      padding: 6px 8px;
      margin-left: 10px;
      background-color: inherit;
      border: 2px solid $font;
    }
    .current {
      background-color: darken($light, 5%);
    }
  }
}
.fw-index {
  header {
    text-align: center;
    padding: $space/2 0;
  }
  section {
    @include font-pretty(20px);
  }
  footer {
    img {
      height: 50px;
      width: 50px;
      border-radius: 100px;
    }
  }
}
.fw-post {
  margin-top: $space;
  margin-bottom: $space;
  header {
    text-align: center;
    margin-bottom: $space;
    h1 {
      font-size: 50px;
    }
  }
  .content {
    @include font-pretty(20px);
  }
  footer {
    text-align: center;
    img {
      margin: $space auto 10px;
      height: 50px;
      width: 50px;
      border-radius: 100px;
    }
  }
}
